---
layout: layout.liquid
title: Interstellar Explorer
---

<h1>Interstellar <strong>Explorer Logs</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" />
<p>Follow the journey of a lone human traveler venturing into the vast cosmos.</p>
